.btn-logout {
  background-color: #00BBFF;
  border-color: #00BBFF;
  border-width: 0;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
}

.btn-logout-no {
  background-color: rgb(132, 133, 134);
  border-color: rgb(132, 133, 134);
  border-width: 0;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
}

.buttons_ {
  display: inline-flex;
}
