.btn-logout {
  background-color: #00BBFF;
  border-color: #00BBFF;
  border-width: 0;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
}

.btn-logout-no {
  background-color: rgb(132, 133, 134);
  border-color: rgb(132, 133, 134);
  border-width: 0;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
}

.buttons_ {
  display: inline-flex;
}

.profile_pic {
  display: flex;
}

.mainmenu li a.appao-btn,
.appao-btn {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 15px;
  padding: 12px 21px;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
}
