<section class="hero-area" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="hero-area-content">
          <h1>Hello, there!</h1>
          <p>Here you can find useful information and insights about waste management and recycle.</p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="hand-mockup text-lg-left text-center">
          <img src="assets/img/hand-mockup.png" alt="Hand Mockup" />
        </div>
      </div>
    </div>
  </div>
</section><!-- hero area end -->
<!-- about section start -->
<section class="about-area ptb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-title">
          <h2>Trash Locations<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
          <p>Some trash locations</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="single-about-box">
          <agm-map #map_ [latitude]="lat" [longitude]="lng" [scrollwheel]="true" [zoom]="zoom"
            [fullscreenControl]="true" (mapClick)="locateTrash($event)" (mapReady)="mapReady($event)"
            (boundsChange)="checkMarkersInBounds($event)">
            <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="currentIcon" [animation]="'BOUNCE'"></agm-marker>
            <agm-info-window [disableAutoPan]="true" [latitude]="lat" [longitude]="lng">
              Current Location
            </agm-info-window>
            <agm-marker *ngFor=" let m of markersList" [latitude]="m.x_coord" [longitude]="m.y_coord" [iconUrl]="m.icon"
              [animation]="'DROP'" (markerClick)="openWindow(m.id)">
              <agm-info-window [isOpen]="isInfoWindowOpen(m.id)" [disableAutoPan]="true" [latitude]="m.x_coord"
                [longitude]="m.y_coord">
                <div class="content_">
                  <h5>
                    Pollution level: {{ m.pollution_level }}
                  </h5>
                  <div style="display: inline-block">
                    <p id="desc_pic">
                      <img src="{{ m.picture }}" class="image" alt="avatar">
                    </p>
                    <button *ngIf="newEvent && !m.taken" class="btn btn-info" style="margin-top: 10px"
                      (click)="addMarkerToEvent(m.id)">Add this location to
                      event</button>
                    <button *ngIf="newEvent && m.taken" class="btn btn-info" style="margin-top: 10px"
                      (click)="addMarkerToEvent(m.id)" [disabled]=true>This location is already in another
                      event.</button>
                  </div>
                </div>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</section><!-- about section end -->
<!-- feature section start -->
<section class="counter-area ptb-90">
  <div class="container">
    <div class="row flexbox-center">
      <div class="col-lg-12">
        <!-- <h1 style="color: white">Add a new event</h1>
          <i class="icofont icofont-protect"></i> -->
        <div class="single-counter-box">
          <i class="fa fa-plus" data-toggle="modal" data-target="#startEvent"></i>
          <h1><span class="counter">Add a new event</span></h1>
          <!-- <a href="#" class="download-btn flexbox-center" (click)="share()">
            <div class="download-btn-icon">
              <i class="icofont icofont-brand-android-robot"></i>
            </div>
            <div class="download-btn-text">
              <h4>Share Event</h4>
            </div>
          </a> -->
          <!-- <button *ngIf="newEvent" class="btn btn-warning" (click)="doneEvent()">DONE</button> -->
          <h3 *ngIf="newEvent" id="h3_margin">1. Please select the locations you want to add to the event</h3>
          <h3 *ngIf="newEvent" id="h3_margin">2. Click <button class="btn btn primary" data-toggle="modal"
              data-target="#addNewEvent">HERE</button> to add some details about your event</h3>
          <h3 *ngIf="newEvent" id="h3_margin">3. Click <button *ngIf="newEvent" class="btn btn-warning"
              (click)="doneEvent()">DONE</button> if you
            finished adding a new event.</h3>
        </div>
      </div>
    </div>
  </div>
</section><!-- feature section end -->

<app-login-register></app-login-register>

<button #triggerButtonTrash type="button" style="display: none" class="btn btn-primary" data-toggle="modal"
  data-target="#locateTrash">
</button>

<!-- MODAL LOCATE TRASH -->
<div class="modal fade" id="locateTrash" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select the stats for your marker</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="sel1">Poluation level:</label>
          <select class="form-control" [(ngModel)]="selectedLevel" (ngModelChange)="selectLevel()">
            <option *ngFor="let item of poluation_level" [ngValue]="item">{{ item }}</option>
          </select>
        </div>
        <div class="form-group" style="text-align: center;">
          <!-- <div ng2FileDrop [ngClass]="{'drop-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
            [uploader]="uploader" class="area">
            <div id="dropZone">Drop files here</div>
          </div>
          <input type="file" ng2FileSelect [uploader]="uploader" multiple />
          <p>Your files: {{ uploader?.queue?.length }}</p>
          <ul>
            <li *ngFor="let item of uploader.queue">
              {{ item?.file?.name }}
            </li>
          </ul> -->

          <div *ngIf="response && imageURL">
            <img [src]='imageURL' />
          </div>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="file" name="profile" (change)="onChange($event)" />
            <button type="submit">Upload Image File</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveTrashPoint()" data-dismiss="modal">Save
          changes</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL LOCATE TRASH -->


<!-- ADD A NEW EVENT MODAL -->
<div class="modal fade" id="addNewEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Event name</label>
          <input type="text" class="form-control" id="name" placeholder="eg.: Let's clean this!" [(ngModel)]="name">
        </div>
        <div class="form-group">
          <label for="extra">Add some informations about your event</label>
          <textarea class="form-control" id="extra" rows="3" [(ngModel)]="extra"></textarea>
        </div>
        <div class="form-group">
          <label for="date">When?</label>
          <input type="date" class="form-control" id="date" [(ngModel)]="date">
        </div>
        <div class="form-group">
          <label for="total_person">How many people can join this event?</label>
          <input type="number" class="form-control" id="total_person" [(ngModel)]="total_person">
        </div>
        <div class="form-group">
          <label for="address">Add the event address</label>
          <input type="text" class="form-control" id="address" placeholder="eg.: Militari Residence"
            [(ngModel)]="address">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveEvent()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- END ADD A NEW EVENT MODAL -->

<!-- START ADDING MARKERS -->
<div class="modal fade" id="startEvent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to start a new event?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" (click)="addNewEvent()" data-dismiss="modal">Yes, start the
          event</button>
      </div>
    </div>
  </div>
</div>
<!-- END START ADDING MARKERS -->
