<section class="hero-area" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="hero-area-content">
          <h1>Hello, there!</h1>
          <p>Here you can find useful information and insights about waste management and recycle.</p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="hand-mockup text-lg-left text-center">
          <img src="assets/img/hand-mockup.png" alt="Hand Mockup" />
        </div>
      </div>
    </div>
  </div>
</section><!-- hero area end -->
<!-- about section start -->
<section class="about-area ptb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-title">
          <h2>Trash Locations<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
          <p>Some trash locations</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="single-about-box">
          <agm-map #map_ [latitude]="lat" [longitude]="lng" [scrollwheel]="true" [zoom]="zoom"
            [fullscreenControl]="true" (mapClick)="locateTrash($event)" (mapReady)="mapReady($event)">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            <agm-marker *ngFor="let m of markersList" [latitude]="m.lat" [latitude]="m.lng">
              <agm-info-window [isOpen]="isInfoWindowOpen(m.id)" [latitude]="m.lat" [longitude]="m.lng">
                <div class="content_">
                  <!-- <h5>
                    {{ data.company_name }}
                  </h5>
                  <app-stars [ratingAverage]="data.listing_rating" [isReadOnly]="true"></app-stars>
                  <i class="fa fa-map-marker" id="country_city">
                    {{ data.country }}, {{ data.city }}
                  </i>
                  <p id="desc_pic">
                    <img src="{{ data.picture }}" class="image" alt="avatar">
                    {{ data.short_description }}
                  </p> -->
                </div>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</section><!-- about section end -->
<!-- feature section start -->
<section class="counter-area ptb-90">
  <div class="container">
    <div class="row flexbox-center">
      <div class="col-lg-12">
        <!-- <h1 style="color: white">Add a new event</h1>
          <i class="icofont icofont-protect"></i> -->
        <div class="single-counter-box">
          <i class="icofont icofont-protect"></i>
          <h1><span class="counter">Add a new event</span></h1>
          <!-- <a href="#" class="download-btn flexbox-center" (click)="share()">
            <div class="download-btn-icon">
              <i class="icofont icofont-brand-android-robot"></i>
            </div>
            <div class="download-btn-text">
              <h4>Share Event</h4>
            </div>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</section><!-- feature section end -->
<!-- showcase section start -->
<section class="showcase-area ptb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-title">
          <h2>Showcase<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
        </div>
      </div>
    </div>
    <div class="row flexbox-center">
      <div class="col-lg-6">
        <div class="single-showcase-box">
          <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi ut aliquip </p>
          <a href="#" class="appao-btn appao-btn2">Read More</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="single-showcase-box">
          <img src="assets/img/showcase.png" alt="showcase">
        </div>
      </div>
    </div>
    <div class="row flexbox-center">
      <div class="col-lg-6">
        <div class="single-showcase-box">
          <img src="assets/img/showcase2.png" alt="showcase">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="single-showcase-box">
          <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi ut aliquip </p>
          <a href="#" class="appao-btn appao-btn2">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section><!-- showcase section end -->
<!-- pricing section start -->
<section class="pricing-area ptb-90" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-title">
          <h2>Our Pricing Plan<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="single-pricing-box">
          <div class="pricing-top">
            <h4>Basic</h4>
            <p>Suitable for Freelancer</p>
          </div>
          <div class="price">
            <h1><span>$</span>99</h1>
            <p>Basic</p>
          </div>
          <div class="price-details">
            <ul>
              <li>Email Marketing</li>
              <li>Email Builder</li>
              <li>Client Testing</li>
              <li>Multiple Email Support</li>
              <li>Email Read Receipent</li>
              <li>2 User Free</li>
            </ul>
            <a class="appao-btn" href="#">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-pricing-box">
          <div class="pricing-top">
            <h4>Pro</h4>
            <p>Suitable for Freelancer</p>
          </div>
          <div class="price">
            <h1><span>$</span>199</h1>
            <p>Basic</p>
          </div>
          <div class="price-details">
            <ul>
              <li>Email Marketing</li>
              <li>Email Builder</li>
              <li>Client Testing</li>
              <li>Multiple Email Support</li>
              <li>Email Read Receipent</li>
              <li>2 User Free</li>
            </ul>
            <a class="appao-btn" href="#">Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-pricing-box">
          <div class="pricing-top">
            <h4>Ultimate</h4>
            <p>Suitable for Freelancer</p>
          </div>
          <div class="price">
            <h1><span>$</span>299</h1>
            <p>Basic</p>
          </div>
          <div class="price-details">
            <ul>
              <li>Email Marketing</li>
              <li>Email Builder</li>
              <li>Client Testing</li>
              <li>Multiple Email Support</li>
              <li>Email Read Receipent</li>
              <li>2 User Free</li>
            </ul>
            <a class="appao-btn" href="#">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- pricing section end -->
<!-- testimonial section start -->
<section class="testimonial-area ptb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-title">
          <h2>Testimonials<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="testimonial-wrap">
          <div class="single-testimonial-box">
            <div class="author-img">
              <img src="assets/img/author/author1.jpg" alt="author" />
            </div>
            <h5>Mary Balogh</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip ex ea
              commodo consequat. Duis aute irure dolor in reprehenderit in </p>
            <div class="author-rating">
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
            </div>
          </div>
          <div class="single-testimonial-box">
            <div class="author-img">
              <img src="assets/img/author/author2.jpg" alt="author" />
            </div>
            <h5>Mary Balogh</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip ex ea
              commodo consequat. Duis aute irure dolor in reprehenderit in </p>
            <div class="author-rating">
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
            </div>
          </div>
          <div class="single-testimonial-box">
            <div class="author-img">
              <img src="assets/img/author/author2.jpg" alt="author" />
            </div>
            <h5>Mary Balogh</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip ex ea
              commodo consequat. Duis aute irure dolor in reprehenderit in </p>
            <div class="author-rating">
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
            </div>
          </div>
        </div>
        <div class="testimonial-thumb">
          <div class="thumb-prev">
            <div class="author-img">
              <img src="assets/img/author/author2.jpg" alt="author" />
            </div>
          </div>
          <div class="thumb-next">
            <div class="author-img">
              <img src="assets/img/author/author2.jpg" alt="author" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- testimonial section end -->
<!-- counter section start -->
<section class="counter-area ptb-90">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="single-counter-box">
          <i class="icofont icofont-heart-alt"></i>
          <h1><span class="counter">9798</span></h1>
          <p>Happy Client</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-counter-box">
          <i class="icofont icofont-protect"></i>
          <h1><span class="counter">9798</span></h1>
          <p>Completed Project</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-counter-box">
          <i class="icofont icofont-download-alt"></i>
          <h1><span class="counter">979</span>K</h1>
          <p>Apps Download</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-counter-box">
          <i class="icofont icofont-trophy"></i>
          <h1><span class="counter">250</span></h1>
          <p>Our Award</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- counter section end -->
<!-- team section start -->
<section class="team-area ptb-90" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-title">
          <h2>Meet Our Team<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-team-member">
          <div class="team-member-img">
            <img src="assets/img/team/team1.jpg" alt="team">
            <div class="team-member-icon">
              <div class="display-table">
                <div class="display-tablecell">
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                  <a href="#"><i class="icofont icofont-brand-linkedin"></i></a>
                  <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="team-member-info">
            <a href="#">
              <h4>John Deo</h4>
            </a>
            <p>Web Developer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-team-member">
          <div class="team-member-img">
            <img src="assets/img/team/team2.jpg" alt="team">
            <div class="team-member-icon">
              <div class="display-table">
                <div class="display-tablecell">
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                  <a href="#"><i class="icofont icofont-brand-linkedin"></i></a>
                  <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="team-member-info">
            <a href="#">
              <h4>Sharon Garcia</h4>
            </a>
            <p>UX Designer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-team-member">
          <div class="team-member-img">
            <img src="assets/img/team/team3.jpg" alt="team">
            <div class="team-member-icon">
              <div class="display-table">
                <div class="display-tablecell">
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                  <a href="#"><i class="icofont icofont-brand-linkedin"></i></a>
                  <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="team-member-info">
            <a href="#">
              <h4>Elijah Henderson</h4>
            </a>
            <p>UX Designer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-team-member">
          <div class="team-member-img">
            <img src="assets/img/team/team4.jpg" alt="team">
            <div class="team-member-icon">
              <div class="display-table">
                <div class="display-tablecell">
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                  <a href="#"><i class="icofont icofont-brand-linkedin"></i></a>
                  <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="team-member-info">
            <a href="#">
              <h4>Sharon Garcia</h4>
            </a>
            <p>UX Designer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- team section end -->
<!-- download section start -->
<section class="download-area ptb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-title">
          <h2>Download Available<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <li>
            <a href="#" class="download-btn flexbox-center">
              <div class="download-btn-icon">
                <i class="icofont icofont-brand-android-robot"></i>
              </div>
              <div class="download-btn-text">
                <p>Available on</p>
                <h4>Android Store</h4>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="download-btn flexbox-center">
              <div class="download-btn-icon">
                <i class="icofont icofont-brand-apple"></i>
              </div>
              <div class="download-btn-text">
                <p>Available on</p>
                <h4>Apple Store</h4>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="download-btn flexbox-center">
              <div class="download-btn-icon">
                <i class="icofont icofont-brand-windows"></i>
              </div>
              <div class="download-btn-text">
                <p>Available on</p>
                <h4>Windows Store</h4>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section><!-- download section end -->
<!-- blog section start -->
<section class="blog-area ptb-90" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-title">
          <h2>Our Latest Blog<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-post">
          <div class="post-thumbnail">
            <a href="blog.html"><img src="assets/img/blog/blog1.jpg" alt="blog"></a>
          </div>
          <div class="post-details">
            <div class="post-author">
              <a href="blog.html"><i class="icofont icofont-user"></i>John</a>
              <a href="blog.html"><i class="icofont icofont-speech-comments"></i>Comments</a>
              <a href="blog.html"><i class="icofont icofont-calendar"></i>21 Feb 2018</a>
            </div>
            <h4 class="post-title"><a href="blog.html">Lorem ipsum dolor sit</a></h4>
            <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-post">
          <div class="post-thumbnail">
            <a href="blog.html"><img src="assets/img/blog/blog2.jpg" alt="blog"></a>
          </div>
          <div class="post-details">
            <div class="post-author">
              <a href="blog.html"><i class="icofont icofont-user"></i>John</a>
              <a href="blog.html"><i class="icofont icofont-speech-comments"></i>Comments</a>
              <a href="blog.html"><i class="icofont icofont-calendar"></i>21 Feb 2018</a>
            </div>
            <h4 class="post-title"><a href="blog.html">Lorem ipsum dolor sit</a></h4>
            <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-md-none d-lg-block">
        <div class="single-post">
          <div class="post-thumbnail">
            <a href="blog.html"><img src="assets/img/blog/blog3.jpg" alt="blog"></a>
          </div>
          <div class="post-details">
            <div class="post-author">
              <a href="blog.html"><i class="icofont icofont-user"></i>John</a>
              <a href="blog.html"><i class="icofont icofont-speech-comments"></i>Comments</a>
              <a href="blog.html"><i class="icofont icofont-calendar"></i>21 Feb 2018</a>
            </div>
            <h4 class="post-title"><a href="blog.html">Lorem ipsum dolor sit</a></h4>
            <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- blog section end -->

<app-login-register></app-login-register>

<button #triggerButtonTrash type="button" style="display: none" class="btn btn-primary" data-toggle="modal"
  data-target="#locateTrash">
</button>

<!-- MODAL LOCATE TRASH -->
<div class="modal fade" id="locateTrash" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select the stats for your marker</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="sel1">Poluation level:</label>
          <select class="form-control" [(ngModel)]="selectedLevel" (ngModelChange)="selectLevel()">
            <option *ngFor="let item of poluation_level" [ngValue]="item">{{ item }}</option>
          </select>
        </div>
        <div class="form-group" style="text-align: center;">
          <!-- <div ng2FileDrop [ngClass]="{'drop-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
            [uploader]="uploader" class="area">
            <div id="dropZone">Drop files here</div>
          </div>
          <input type="file" ng2FileSelect [uploader]="uploader" multiple />
          <p>Your files: {{ uploader?.queue?.length }}</p>
          <ul>
            <li *ngFor="let item of uploader.queue">
              {{ item?.file?.name }}
            </li>
          </ul> -->

          <div *ngIf="response && imageURL">
            <img [src]='imageURL' />
          </div>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="file" name="profile" (change)="onChange($event)" />
            <button type="submit">Upload Image File</button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveTrashPoint()" data-dismiss="modal">Save
          changes</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL LOCATE TRASH -->
