agm-map {
  height: 600px;
}

.area {
  padding: 15px;
  margin: 15px;
  border: 1px solid rgb(175, 164, 164);
  background: whitesmoke;
}

#dropZone {
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
  font: 21pt bold arial;
  color: #bbb;
}

.drop-file-over {
  background: #333;
}

.content_ {
  overflow-x: hidden;
}

#desc_pic {
  width: 350px;
}

.image {
  height: 130px;
  width: 150px;
  /* float: right; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#h3_margin {
  margin-top: 10px;
}
