<section class="hero-area" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="hero-area-content">
          <h1>Responsability</h1>
          <p>Every day is an opportunity to make a change.</p>
          <p>Our purpose is to encourage a continous growth.</p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="hand-mockup text-lg-left text-center">
          <img src="assets/img/hand-mockup.png" alt="Hand Mockup" />
        </div>
      </div>
    </div>
  </div>
</section><!-- hero area end -->
<!-- about section start -->
<section class="about-area ptb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-title">
          <h2>Features<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="single-about-box">
          <i class="icofont icofont-ruler-pencil"></i>
          <h4>Real Time Feedback</h4>
          <p>The status provided is permanently update so the user will always have access to the latest changes.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-about-box active">
          <i class="icofont icofont-computer"></i>
          <h4>Digital Interaction</h4>
          <p>Proactivity is encouraged, no matter the distance. Nowdays Technology gives us the freedom to take
            attitude.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-about-box">
          <i class="icofont icofont-headphone-alt"></i>
          <h4>Contact Authorities</h4>
          <p>The user can easly find contact information for relevant authorities and organizations</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- about section end -->

<app-login-register></app-login-register>

<button #triggerButton style="display: none" type="button" class="btn btn-primary" data-toggle="modal"
  data-target="#chooseType">
</button>

<!-- MODAL IF USER HAS NO TYPE -->
<div class="modal fade" id="chooseType" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose your user type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <div class="hero-area-content"> -->
        <h1>What are you?</h1>
        <p>Choose your user type:</p>
        <p><b>Volunteers</b> are able to recycle.</p>
        <p><b>Collectors</b> support waste management/recycling (NGOs, business institutions)</p>
        <a class="appao-btn" (click)="chooseVolunteer($event)" data-dismiss="modal">Volunteer</a>
        <a class="appao-btn" (click)="chooseCollector($event)" data-dismiss="modal">Collector</a>
        <!-- </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveUserType()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL IF USER HAS NO TYPE -->
