.social {
  text-align: center !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
  font-size: 50px;
  margin-right: 20px;
}

.github {
  color: #403A3A;
}

.github:hover {
  color: #4D4D4d;
  ;
}

.google {
  color: #F74933;
}

.google:hover {
  color: #FF7566;
}

.social .facebook {
  color: #455CA8;
}

.facebook:hover {
  color: #6E83CD;
}

/* .modal {
  width: 30%;
  margin: 0 auto;
} */

#log_with {
  text-align: center !important;
}

.btn-login {
  background-color: #00BBFF;
  border-color: #00BBFF;
  border-width: 0;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
  padding: 15px 50px;
  text-transform: uppercase;
  width: 100%;
}

#create_account {
  color: #365899;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

#create_account:hover {
  text-decoration: underline;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 450px !important;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
}

.success_ {
  /* border: 1px solid green; */
  background-color: green;
}

.error_ {
  /* border: 1px solid red; */
  background-color: red;
}
