version: '3'
services:
 postgres:
  image: postgres
  environment:
   POSTGRES_USER: "admin-user"
   POSTGRES_PASSWORD: "admin-pass"
  ports:
   - "5431:5432"
  volumes: 
   - ../postgres_init:/var/lib/postgresql/data/
 django-backend:
  build:
    context: ..
    dockerfile: ./deployments/Dockerfile
  command: ./manage.py runserver 0.0.0.0:8080
  ports:
   - "8080:8080"
  volumes:
   - ..:/core
  depends_on:
   - postgres
  working_dir: /core/core
 docker-angular-cli:
    build:
      context: ../../frontend
      dockerfile: Dockerfile
    command: ng serve --host 0.0.0.0
    environment:
      NODE_ENV: production
    working_dir: /frontend
    ports:
     - "4200:4200"
